*{
	background: url(http://wallpoper.com/images/00/41/11/36/ice-cream_00411136.png) white;
	color: #730016;
	font-family: cornerstone;
}

/*.btn{
	border-color: #86D3FF;
	border-width: thick;
}*/