<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Let's Count!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	</head>
	<body>
		<div class="container-fluid bg-2 text-center">
			<h1>Counter</h1>
			<p>Refresh to count!</p>
			<h3><%= count %></h3>
	   		<form class="form-group" action="/addtwo" method='post'>
		    	<button type="submit" class="btn-info btn-group-lg">+2</button>
			</form>
			<form class="form-group" action="/reset" method="post">
				<button type="submit" class="btn-info btn-group-lg">reset</button>
			</form>
		</div>
	</body>
</html>